/* Admin panel styles */

body {
	font-family:	arial;
	font-size:	13px;
	margin:		105px 10px 10px 303px;
}

#menu {
	position:	fixed;
	width:		263px;
	left:		20px;
	top:		105px;
	bottom:		20px;
	overflow:	auto;
}
#menu ul {
	margin:		0px 0px 0px 0px;
	padding:	8px 0px 0px 0px;
}
#menu > ul {
	padding:	0px;
	margin:		0px;
}
#menu ul li {
	margin:		0px 0px 0px 16px;
	display:	block;
	line-height:	20px;
	font-weight:	normal;
}
#menu > ul > li {
	background-color:#cce8ef;
	padding:	12px;
	margin:		0px 0px 12px 0px;
	border-radius:	5px;
	display:	block;
	font-weight:	bold;
}

a {
	color:		#0b4388;
}

h2 {
	font-weight:	normal;
	margin:		0px 0px 10px 0px;
}

h3 {
	background:	#f9f9f9;
	border-top:	1px solid #dcdcdc;
	border-bottom:	1px solid #dcdcdc;
	width:		100%;
	text-indent:	10px;
	padding:	6px 0px;
	margin:		20px 0px 10px 0px;
	font-weight:	normal;
}

h4 {
	text-indent:	10px;
}

.input_container {
	padding:        4px 0px 0px 0px;
	clear:		both;
}
.input_label {
	float:          left;
	text-indent:    10px;
}
.input_field {
	margin:		0px 0px 0px 200px;
}
.input_field input {
	width:		198px;
	margin-top:	-2px;
}

.textarea_label {
	text-indent:    10px;
	padding:        4px 0px 0px 0px;
}
.textarea_field {
	padding-left:	10px;
}
.textarea_field textarea {
	height:		200px;
	width:		392px;
}

.select_container {
	padding:	8px 0px 0px 0px;
}
.select_label {
	float:          left;
	text-indent:    10px;
}
.select_field {
        margin:         -2px 0px 0px 200px;
}
.select_field select {
	width:		204px;
}

.checkbox_container {
	clear:		both;
}
.checkbox_field {
	float:		left;
	padding:	0px;
	text-indent:	6px;
}
.checkbox_label {
	padding:	2px 0px 0px 0px;
	text-indent:	2px;
}

.submit_field {
	clear:		both;
	padding:	8px 0px 0px 7px;
}

table.layout {
	padding:	0px;
	margin:		0px;
	border-collapse:collapse;
}
table.layout tr td {
	vertical-align:	top !important;
	border:		1px solid #f9f9f9;
	border-collapse:collapse;
	padding-bottom:	10px;
}

span.disabled {
	color:		#e0e0e0;
}
