input, textarea {
	border:        1px solid #c4c3c3;
	border-radius: 5px;
/*	height:        22px;
	line-height:   24px;*/
	font-size:     13px;
	padding: 3px;
}

select, input[type="number"] {
	margin-left: 0;
}

input.problem,
textarea.problem,
.cke_editor_body.problem {
	border-color: #fb7a53 !important;
	background:   #fffcfd;
}

input[type="file"] {
	padding-left: 0;
}

.Safari input[type="file"] {
	border: none;
}

input[type="submit"],
input[type="cancel"],
input[type="button"],
.button {
	display:          inline-block;
	height:           24px;
	border:           1px solid #51add2;
	border-radius:    5px;
	background-color: #51b4d6;
	background-image: linear-gradient(bottom, rgb(81, 173, 210) 0%, rgb(82, 189, 218) 100%);
	background-image: -o-linear-gradient(bottom, rgb(81, 173, 210) 0%, rgb(82, 189, 218) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(81, 173, 210) 0%, rgb(82, 189, 218) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(81, 173, 210) 0%, rgb(82, 189, 218) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(81, 173, 210) 0%, rgb(82, 189, 218) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(81, 173, 210)), color-stop(1, rgb(82, 189, 218)));
	color:            #ffffff;
	line-height:      17px;
	font-size:        13px;
	font-family:      arial;
	box-shadow:       0 1px 3px rgba(0, 0, 0, 0.25);
	margin:           8px 4px 0 0;
	text-shadow:      -1px 0 3px rgba(0, 0, 0, 0.25);
	text-decoration:  none;
	text-align:       center;
	padding:          0 6px;
	cursor:           pointer;
	font-style:       normal;
	font-variant:     normal;
	font-weight:      normal;
}

.button {
	line-height: 22px;
	height:      22px;
}

table.form {
	width: 100%;
}

table.form th, table.form td {
	padding: 0 8px 0 0;
	border: 0;
}

table.form tr th {
	width: 20%;
	background-color: transparent;
	font-weight:      normal;
	padding: 0 6px;
}

table.form tr td:last-child {
	width:   100%;
}

table.form tr td:last-child input[type="text"],
table.form tr td:last-child input[type="file"],
table.form tr td:last-child textarea {
	width: 100%;
}

table.form label {
	position: relative;
	top:      -4px;
	padding-right: 15px;
}

table .info {
	border-radius:    5px;
	background-color: #E6E6E6;
	padding: 1px 5px !important;
	line-height: 29px;
}

.action {
	display:          inline-block;
	border:           1px solid #c3c3c3;
	border-radius:    5px;
	background-image: linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background-image: -o-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background-image: -moz-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background-image: -webkit-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background-image: -ms-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	color:            #000;
	font-size:        13px;
	font-family:      arial;
	box-shadow:       0 1px 4px rgba(0, 0, 0, 0.25);
	margin:           0 7px 3px 0;
	padding:	  2px 5px 0 5px;
	text-decoration:  none;
	text-align:       center;
	cursor:           pointer;
	font-style:       normal;
	font-variant:     normal;
	font-weight:      normal;
	height:           17px;
	float:  left;
}

table {
	border-spacing: 0 4px;
}

table th {
	padding: 2px 20px 2px 6px;
	background-color: #e8e8e8;
	color: #000;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
}

table td {
	padding:       1px 5px 3px 6px;
	border-bottom: 1px dotted #dfdfdf;
}

table th:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

table th:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}