.action.add,
.action.edit,
.action.delete,
.action.up,
.action.down,
.action.left,
.action.right,
.action.view {
	background:  url('/images/adm-actions.png');
	background:  url('/images/adm-actions.png'), linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background:  url('/images/adm-actions.png'), -webkit-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background:  url('/images/adm-actions.png'), -moz-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background:  url('/images/adm-actions.png'), -o-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	background:  url('/images/adm-actions.png'), -ms-linear-gradient(bottom, #d6d6d6 0%, #f9f9f9 100%);
	width:       13px;
	overflow:    hidden;
	text-indent: 20px;
}

.action.add {
	background-position: -23px 3px, 0 0;
}

.IE .action.add {
	background-position: -23px 3px;
}

.action.edit {
	background-position: -81px 3px, 0 0;
}

.IE .action.edit {
	background-position: -81px 3px;
}

.action.delete {
	background-position: -52px 3px, 0 0;
}

.IE .action.delete {
	background-position: -52px 3px;
}

.action.up {
	background-position: -111px 3px, 0 0;
}

.IE .action.up {
	background-position: -111px 3px;
}

.action.down {
	background-position: -141px 3px, 0 0;
}

.IE .action.down {
	background-position: -141px 3px;
}

.action.left {
	background-position: -204px 3px, 0 0;
}

.IE .action.left {
	background-position: -204px 3px;
}

.action.right {
	background-position: -174px 3px, 0 0;
}

.IE .action.right {
	background-position: -174px 3px;
}

.action.view {
	background-position: -232px 2px, 0 0;
}

.IE .action.view {
	background-position: -232px 2px;
}

.action.disabled {
	opacity: 0.5;
	cursor:  default;
}