
.paginator {
	padding: 20px 0 40px 0;
}

.paginator .pagerItem {
	border-radius: 4px;
	margin: 2px;
	padding: 5px;
	float: left;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

.paginator .pagerItem.pagerSelected {
	background-color: #777777;
}
