/*
.goodie_images {
	clear:		both;
}
.goodie_image {
	display:	block;
	border:		1px solid #666666;
	text-align:	center;
	float:		left;
	padding:	2px;
	margin:		0px 5px;
}
.goodie_image_container {
	display:	block;
	width:		210px;
	height:		180px;
	background-color:#efefef;
}
#goodie_image_add {
	clear:		both;
	display:	block;
	padding:	20px 0px;
}
*/

.item-image {
	padding:       8px;
	margin:        0 3px 5px 0;
	text-align:    left;
	display:       inline-block;
	background:    #E6E6E6;
	border-radius: 5px;
	height: 135px;
	width: 160px;
}
.img {
	height: 100px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
}

.controls {
	padding-top: 10px;
	float: left;
}

.controls span {
	position: relative;
	top: 4px;
	padding: 1px 5px;
	border-radius: 10px;
	background-color: #bbbbbb;
	color: #ffffff;
}