.overlay {
	position:         fixed;
	top:              0;
	left:             0;
	right:            0;
	bottom:           0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index:          98;
}

.overlay-container {
	position: relative;
	display: inline-block;
	min-width: 325px;
	max-width: 775px;
}

.overlay-inner {
	background: #fff;
	border-radius: 3px;
	padding: 10px;
}