/* Thanks to css3please.com for this rules */

.border-radius( @props ) {
	-webkit-border-radius: @props; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: @props; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.border-top-left-radius( @props ) {
	-webkit-border-top-left-radius: @props; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-top-left-radius: @props; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.border-top-right-radius( @props ) {
	-webkit-border-top-right-radius: @props; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-top-right-radius: @props; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.border-bottom-left-radius( @props ) {
	-webkit-border-bottom-left-radius: @props; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-bottom-left-radius: @props; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.border-bottom-right-radius( @props ) {
	-webkit-border-bottom-right-radius: @props; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-bottom-right-radius: @props; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
/* useful if you don't want a bg color from leaking outside the border: */
	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.box-shadow( @props ) {
	-webkit-box-shadow: @props; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: @props; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

//.box_gradient {
//	background-color: #444444;
//	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999)); /* Chrome, Safari 4+ */
//	background-image: -webkit-linear-gradient(top, #444444, #999999); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
//	background-image: -moz-linear-gradient(top, #444444, #999999); /* Firefox 3.6-15 */
//	background-image: -o-linear-gradient(top, #444444, #999999); /* Opera 11.10-12.00 */
//	background-image: linear-gradient(to bottom, #444444, #999999); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
//}

//.box_rgba( @props ) {
//	background-color: transparent;
//	background-color: rgba(@props); /* Chrome, Firefox 3+, IE 9+, Opera 10.10+, Safari 3+ */
//}

.transform( @props ) {
	-webkit-transform: @props; /* Chrome, Safari 3.1+ */
	-moz-transform: @props; /* Firefox 3.5-15 */
	-ms-transform: @props; /* IE 9 */
	-o-transform: @props; /* Opera 10.50-12.00 */
	transform: @props; /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.transform-style( @props ) {
	-webkit-transform-style: @props;
	-moz-transform-style: @props;
	-ms-transform-style: @props;
	transform-style: @props;
}

.perspective( @props ) {
	-webkit-perspective: @props; /* Chrome 12+, Safari 4+ */
	-moz-perspective: @props; /* Firefox 10+ */
	-ms-perspective: @props; /* IE 10 */
	perspective: @props;
}

.animation( @props ) {
	-webkit-animation: @props; /* Chrome, Safari 5+ */
	-moz-animation: @props; /* Firefox 5-15 */
	-o-animation: @props; /* Opera 12.00 */
	animation: @props; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

.transition( @props ) {
	-webkit-transition: @props;
	-moz-transition: @props;
	-o-transition: @props;
	transition: @props;
}

.column-count( @props ) {
	-webkit-column-count: @props; /* Chrome, Safari 3 */
	-moz-column-count: @props; /* Firefox 3.5+ */
	column-count: @props; /* Opera 11+ */
}

.column-gap( @props ) {
	-webkit-column-gap: @props; /* Chrome, Safari 3 */
	-moz-column-gap: @props; /* Firefox 3.5+ */
	column-gap: @props; /* Opera 11+ */
}

.tab-size( @props ) {
	-moz-tab-size: @props; /* Firefox 4+ */
	-o-tab-size: @props; /* Opera 10.60+ */
	tab-size: @props;
}

.border-box() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.break {
	-ms-word-break: break-all;
	word-break: break-all;

	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.ellipsis {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis; /* Required for IE8 */
	-o-text-overflow: ellipsis; /* Required for Opera */
	text-overflow: ellipsis;
}

// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
	-webkit-flex: @columns;
	-moz-flex: @columns;
	-ms-flex: @columns;
	flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-moz-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
	-webkit-flex-wrap: @wrap;
	-moz-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
	-webkit-flex-flow: @flow;
	-moz-flex-flow: @flow;
	-ms-flex-flow: @flow;
	flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
	-webkit-order: @order;
	-moz-order: @order;
	-ms-order: @order;
	order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
	-webkit-flex-grow: @grow;
	-moz-flex-grow: @grow;
	-ms-flex-grow: @grow;
	flex-grow: @grow;
}

// Flex shr
// - applies to: flex itemsink factor
// <number>
.flex-shrink(@shrink: 1) {
	-webkit-flex-shrink: @shrink;
	-moz-flex-shrink: @shrink;
	-ms-flex-shrink: @shrink;
	flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
	-webkit-flex-basis: @width;
	-moz-flex-basis: @width;
	-ms-flex-basis: @width;
	flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
	-webkit-justify-content: @justify;
	-moz-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
	-webkit-align-content: @align;
	-moz-align-content: @align;
	-ms-align-content: @align;
	align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
	-webkit-align-items: @align;
	-moz-align-items: @align;
	-ms-align-items: @align;
	align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
	-webkit-align-self: @align;
	-moz-align-self: @align;
	-ms-align-self: @align;
	align-self: @align;
}
