<!--
This software cannot be used, distributed or modified, completely or partially, without written permission by copyright holder.
Copyright © A-Jam Studio
License: http://ajamstudio.com/difra/license
-->
<locale>
	<adm>
		<config>
			<title>Configuration</title>
			<current>Current configuration</current>
			<diff>Changed settings</diff>
			<reset>Reset</reset>
			<reset-done>Settings are reset</reset-done>
		</config>
	</adm>
</locale>