<locale>
	<menu>
		<adm>
			<menu_content>Content</menu_content>
			<menu_catalog>Catalog</menu_catalog>
			<menu_media>Media</menu_media>
			<menu_talks>Talks</menu_talks>
			<menu_users>Users</menu_users>
			<menu_settings>Settings</menu_settings>
			<menu_development>Development</menu_development>
			<menu_development_config>Configuration status</menu_development_config>
			<menu_development_locales>Localization</menu_development_locales>
		</adm>
	</menu>
</locale>